
.imagen-logo{
    width: 95px;
    height: 70px;
}

.imagen{
    display: block;
    border: 15px;
    padding: 15px;
    width: 400px;
    height: 400px;
}
    
.img-home:hover{
    transform: scale(1.1,1.1);
}
    
.link-imagen{
    font-size: 0px;
}
    