//Variables
$color-primario: pink;
$color-secundario: green;

body {
    background-color: $color-primario;
}

@font-face {
    font-family: 'fuente-principal';
    src: url('../assests/fuentes/KumbhSans-Regular.ttf');
}

@font-face {
    font-family: 'fuente-secundaria';
    src: url(../assests/fuentes/KaushanScript-Regular.ttf);
}

body{
    background-color: #FFFDCF;
}

.barra-navegacion{
    display: block;
    padding: 0px;
    margin: auto;
    background-color: #FF891C;
    position: sticky;
    top: 0px;

}



.loguito{
    display: block;
    text-align: justify;
    border: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 0px;
}

.estilo-logo{
    display: inline;
    font-family: 'fuente-secundaria', KaushanScript-Regular;
    font-size: 38px;
    color: #FFFDCF;
    list-style-type: none;
    
}
.estilo-links{
    display: inline;
    margin: 10px;
    text-decoration: none;
    color: #FFFDCF;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
}

.letra{
    display: block-inline;
    text-align: center;
    background-color: #FEB244;
    border-top: 5px solid #FFFDCF;
    border-bottom: 5px solid #FFFDCF;
    font-family: 'fuente-secundaria', KaushanScript-Regular;
    color: #523710;
}

.encabezado{
    display: block;
    border: 5px;
    padding-top: 20px;
    margin-top: 25px;
    margin-left: 30px;
    text-align: justify;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 28px;
    font-weight: bold;
    color:#FF891C;
}

.items{
    display: block;
    border: 5px;
    padding-top: 20px;
    margin-top: 25px;
    text-align: justify;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 20px;
    color:#000000;
}

.encabezado-pasos{
    display: block;
    border: 5px;
    padding-top: 20px;
    margin-top: 25px;
    margin-left: 30px;
    text-align: center;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 28px;
    font-weight: bold;
    color:#FF891C;
}

.items-pasos{
    display: block;
    border: 5px;
    padding-top: 20px;
    margin-top: 25px;
    margin-left: 30px;
    text-align: justify;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 20px;
    color:#000000;
    list-style: none;
}

.imagen{
display: block;
border: 15px;
padding: 15px;
width: 400px;
height: 400px;
}

.img-home:hover{
    transform: scale(1.1,1.1);
}



.link-imagen{
    font-size: 0px;
}
.footer{
    display: inline;
    border: 5px;
    width: 50%;
    height: 250px;
    padding-top: 20px;
    padding-left: 20%;
    margin-top: 25px;
    margin-left: 30px;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 18px;
    color:#523710;
}


.titulo{
    font-family: 'fuente-principal';
    font-size: 70%;
}

.button{
    background-image: radial-gradient(circle, #FEB244, #FF891C,)
    
}

.button:hover{
    background-image: radial-gradient(circle, #FF891C,#FEB244)
}


.imagen-logo{
    width: 95px;
    height: 70px;
}

.footer-contacto{
        display: block;
        padding: 18px;
        text-align: center;
        font-family: 'fuente-principal', KumbhSans-Regular;
        font-size: 18px;
        color:#523710;
    }

.cuestionario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .items {
    /*tipografia*/
    display: inline;
    font-family: 'fuente-principal', KumbhSanas-Regular;
    font-size: 15px;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: lighter;
    text-align: justify;
    list-style: none;
    }

    .imagen-logo{
        width: 15%;
        height: 15%;
    }
    .letra{
        display: block-inline;
        text-align: center;
        background-color: #FEB244;
        border-top: 5px solid #FFFDCF;
        border-bottom: 5px solid #FFFDCF;
        font-family: 'fuente-secundaria', KaushanScript-Regular;
        color: #523710;
        font-size: 22px;
    }

    .estilo-logo{
        display: inline;
        font-family: 'fuente-secundaria', KaushanScript-Regular;
        font-size: 28px;
        color: #FFFDCF;
        list-style-type: none;
    }

    .imagen{
        display: inline;
        border: 15px;
        padding: 15px;
        width: 350px;
        height: 350px;
        }

    .encabezado{
    display: block;
    border: 5px;
    padding-top: 10px;
    text-align: center;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color:#FF891C;
}

.footer{
    display: inline;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 0px;
    text-align: justify;
    color:#523710;
}

.encabezado-pasos{
    display: block;
    padding-top: 5px;
    margin-top: 10px;
    text-align: center;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 22px;
    font-weight: bold;
    color:#FF891C;
}    
.items-pasos{
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
    font-family: 'fuente-principal', KumbhSans-Regular;
    font-size: 15px;
    color:#000000;
    list-style: none;
    
}


}

    @media screen and (max-width: 480px) {
    .items-pasos {
    /*tipografia*/
    font-family: 'fuente-principal', KumbhSanas-Regular;
    font-size: 15px;
    font-weight: lighter;
    }
}